# MySQL.  Versions 4.1 and 5.0 are recommended.
#
# Install the MySQL driver:
#   gem install mysql2
#
development:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: hypercloud_development
  pool: 5
  username: hypercloud
  password:
  host: localhost

test:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: hypercloud_test
  pool: 5
  username: hypercloud
  password:
  host: localhost

production:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: hypercloud_production
  pool: 5
  username: hypercloud
  password:
  host: localhost
